#wrap, #wrap-bottom {
  background: #6c8292;
  padding: 0px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  color: white;

}
#left, #bottom-center, #right, #center, #left-center, #right-center {
  display: inline-block;
  vertical-align: center;

  padding: 10px;
}
