<nav class="navbar navbar-default" style="line-height: 110px; height: 125px; vertical-align: middle ">
    <div class="navbar-header">
    <!--<a href="/login"><img src="https://image.ibb.co/c2uXsR/logo.png" alt="logo" border="0"></a>-->
      <img src="https://lh5.googleusercontent.com/2QFkqX82-OMjDBPSnX8hR-RQqkcF-XG5mzDB_T-qbllPmq_unJVNwUT9Rtf0TlT6D_n6ugu5kDNoaq_Bbexb=w1920-h949" alt="https://image.ibb.co/c2uXsR/logo.png" alt="logo" border="0">

    </div>
    <ul class="nav navbar-nav">
      <li class="active"><button id="loginButton" type="button" *ngIf="navigationService.showLoginButton" class="btn navbar-btn"><a (click)="login()">Login</a></button></li>
      <li class="active"><button id="logoutButton" type="button" *ngIf= "navigationService.showLogoutButton" class="btn navbar-btn"><a (click)="logout()">Logout</a></button></li>
    </ul>
</nav>
