<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CryptocurrencyExchangeDb" connectionString="Data Source=STUDENT-PC\SQLEXPRESS;Initial Catalog=CryptocurrencyExchangeDb;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="bitBayBTCPLNvalue" value="https://bitbay.net/API/Public/BTCPLN/ticker.json" />
    <add key="bitBayBCCPLNvalue" value="https://bitbay.net/API/Public/BCCPLN/ticker.json" />
    <add key="bitBayETHPLNvalue" value="https://bitbay.net/API/Public/ETHPLN/ticker.json" />
    <add key="bitBayLTCPLNvalue" value="https://bitbay.net/API/Public/LTCPLN/ticker.json" />
    <add key="refreshTime" value="60000" />
    <add key="exchangeType" value="BitBay" />
    <add key="exchangeAzureTableStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cryptocurrencyexchange;AccountKey=pNxVHwwAeDnV2MklkwR6UoJPWWsKNPrOIPjn4lksJYtmlXoaWs0KldKv+76f7ISAMGHaf6wWv8A4CH/YSnwBEg==;EndpointSuffix=core.windows.net" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>